*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: inherit;
}

input,
select,
iframe,
button {
    border: none;
    font-family: 'Open Sans', sans-serif;
}

h1,
h2,
h3 {
    margin: 0;
    padding: 0;
}

ol,
ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: #f9014d;
}

img {
    max-width: 100%;
    border: none;
}


/* gerais*/

.section {
    float: left;
    width: 100%;
}

.section:not(:first-of-type) {
    margin-top: 60px;
}

.section-header {
    margin-bottom: 40px;
    text-align: center;
    font-size: 20px;
}

.section-header h1 {
    font-size: 38px;
    font-weight: normal;
}

.content {
    width: 100%;
    width: 90%;
    margin: 0 auto;
}

.row {
    float: left;
    width: 100%;
    margin-bottom: 100px;
}


/*load more*/

.loadmore {
    background: none;
    border: 1px solid #ccc;
    padding: 5px 10px;
    font-size: 17px;
    cursor: pointer;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.loadmore:hover {
    color: #a70606;
    border: 1px solid #a70606;
}


/* BOX
--------------------------------------------------------------------------------------------------*/

.box {
    display: block;
    position: relative;
    overflow: hidden;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

.box-name {
    position: absolute;
    z-index: 2;
    left: 10px;
    top: 10px;
    font-size: 14px;
    color: #fff;
    padding: 5px 10px;
    background: #f9014d;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.box-cover {
    font-size: 0;
    line-height: 1em;
}

.box-cover img {
    width: 100%;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    /*transição da imagem-------------*/
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

.box-detalhes {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    padding: 15px;
    color: #fff;
    font-size: 15px;
}

.box-detalhes:before {
    content: "";
    position: absolute;
    z-index: 1;
    top: -5px;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: .8;
    visibility: hidden;
    background: linear-gradient(to bottom, transparent, #000);
    -webkit-transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out;
    -webkit-transform: translate(0, 50%);
    transform: translate(0, 50%);
}

.box-detalhes-info {
    position: relative;
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: all 250ms ease-in-out;
    transition: all 250ms ease-in-out;
    -webkit-transform: translate(0, 50%);
    transform: translate(0, 50%);
}

.box-detalhes-info h1 {
    font-size: 20px;
}


/*box:hover
----------------------------------------------------------------------------------------------------------*/

.box:hover .box-cover img {
    -webkit-transform: scale(1);
    transform: scale(1);
}

.box:hover .box-detalhes:before,
.box:hover .box-detalhes-info {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
}


/* header 
------------------------------------------------------------------------------------------------------*/

.header {
    position: fixed;
    width: 100%;
    padding-top: 30px;
    z-index: 6;
    -webkit-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.header .logo img {
    max-width: 150px;
}

.header.fixed {
    background: #2c3e50;
    padding: 10px 0 5px 0;
}


/* Serach estatisticas */

.search-box {
    /* Centraliza o texto*/
    color: #fff;
    padding: 100px 0;
    text-align: center;
    background-image: url(../images/bg-search.jpg);
    background-size: cover;
    /* Centraliza a imagem*/
    background-position: center;
    /* fixa a imagem na rolagem*/
    background-attachment: fixed;
}

.search-box h1 {
    font-size: 37px;
    font-weight: bold;
}

.search-box .tagline {
    font-size: 26px;
}

.search-box form {
    position: relative;
    display: inline-block;
    width: 90%;
    max-width: 500px;
    margin-top: 40px;
}

.search-box form input[type="search"] {
    width: 100%;
    height: 50px;
    font-size: inherit;
    color: #2c3e50;
    padding: 0 70px 0 10px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
}

.search-box form button {
    background: #a70606;
    position: absolute;
    width: 50px;
    height: 50px;
    color: #fff;
    font-size: 20px;
    top: 0;
    right: 0;
    cursor: pointer;
    -webkit-border-top-right-radius: 6px;
    border-top-right-radius: 6px;
    -webkit-border-bottom-right-radius: 6px;
    border-bottom-right-radius: 6px;
}


/* estatisticas*/

.estatisticas {
    background: #fff;
    max-width: 960px;
    width: 90%;
    padding: 30px 0;
    margin: -40px auto 0 auto;
    text-align: center;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, .3);
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, .3);
}

.estatisticas-item span {
    font-size: 33px;
    font-weight: bold;
}

.estatisticas-item p {
    font-size: 20px;
}


/*Destinos
-------------------------------------------------------------------------*/

.destinos-col {
    margin-bottom: 20px;
}


/* Breakpoints maximos */

@media (max-width: 767.9px) {
    /*menu*/
    .nav-toggle {
        color: #fff;
        font-size: 22px;
    }
    .nav-close {
        font-size: 22px;
    }
    .header .nav.active {
        right: 0;
    }
    .header .nav {
        background: #fff;
        width: 250px;
        height: 100%;
        position: fixed;
        padding: 15px;
        right: -100%;
        top: 0;
        z-index: 10;
        transition: right .7s ease-in-out;
    }
    .header .nav ul li {
        padding: 15px 5px;
        font-size: 20px;
        border-bottom: 1px solid #ccc;
    }
    /*estatisticas*/
    .estatisticas {
        flex-direction: column;
    }
    .estatisticas-item {
        min-width: 90%;
    }
    .estatisticas-item:not(:last-of-type) {
        margin-bottom: 15px;
        padding-bottom: 15px;
        border-bottom: 1px solid #ccc;
    }
}


/*Breakpoints minimos */

@media (min-width: 768px) {
    /*menu */
    .nav-toggle,
    .nav-close {
        display: none;
    }
    .header .nav {
        float: right;
        margin-top: 13px;
    }
    .header .nav ul li {
        display: inline-block;
        margin-left: 20px;
    }
    .header .nav ul li a {
        color: #fff;
    }
    .header .nav ul li a:hover {
        color: #f9014d;
    }
    /* search*/
    .search-box {
        padding: 200px 0;
    }
    .estatisticas {
        margin-top: -65px;
    }
    .estatisticas-item {
        text-align: center;
        display: flex;
        flex: 1;
        flex-direction: column;
    }
    .estatisticas-item:not(:last-of-type) {
        border-right: 1px solid #ccc;
    }
    .destinos-col {
        width: 49%;
        margin-right: 2%;
        scroll-margin-bottom: 2%;
        float: left;
    }
    .destinos-col:nth-child(odd) {
        margin-right: 0;
    }
    .destinos-col:first-child {
        width: 100%;
    }
}

@media(min-width: 900px) {
    .destinos-col:nth-child(odd),
    .destinos-col {
        width: 32%;
        margin-right: 2%;
    }
    .destinos-col:nth-of-type(3n+2) {
        margin-right: 0;
    }
    .destinos-col:first-child {
        width: 66%;
    }
}


/* Auxiares*/

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.fl-left {
    float: left;
}

.fl-right {
    float: right;
}